.button {
    padding: 8px 24px;
    background-color: var(--bs-primary);
    border-radius: 50rem
        /* 800px */
    ;
    font-family: var(--font-opensans);
    font-size: 16px;
    color: var(--bs-black);
    cursor: pointer;
    transition: .3s ease-in-out;

}



.button:hover {
    color: var(--bs-primary);
    background-color: var(--bs-black);
}

/* events */
.Events .button.active {
    color: var(--bs-black);
    background-color: var(--bs-primary);
}

/* menu  */
.Menus .button.active {
    color: var(--bs-black);
    background-color: var(--bs-primary);
}
