.testimonial-slider .content {
  width: 100%;
}

/* dots */
.content .slick-dots {
  bottom: -30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slick-dots li button:before {
  display: none;
}

.content .slick-dots button {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  transition: 0.5s ease;
}

.content .slick-dots li.slick-active button {
  background-color: var(--bs-primary);
  width: 30px;
  height: 15px;
  transform: translateX(-8px);
}