.blog-card {
    width: 100%;
}

.blog-card .blog-image {
    border-radius: 10px;
    width: 100%;
    height: 365px;
    overflow: hidden;

    cursor: pointer;
}

.blog-card .blog-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    transition: .5s ease-in-out;
}

.blog-card .blog-image img:hover {
    transform: scale(1.3);
}


.blog-card .blog-content {
    height: 92px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border-radius: 8px;
    margin-inline: 24px;
    font-family: var(--font-opensans);
    color: var(--bs-dark);

    position: relative;
    transform: translateY(-50%);
}

.blog-card .blog-content p.sep {
    height: 100%;
    background-color: var(--bs-primary);
    padding: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-card .blog-content p.question {
    height: 100%;
    background-color: var(--bs-section-white);
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--bs-dark);
    cursor: pointer;

    transition: .3s ease-in-out;
}

.blog-card .blog-content p.question:hover {
    color: var(--bs-primary);
}

@media screen and (min-width:1200px) and (max-width:1220px) {
    .blog-card .blog-content p.question {
        font-size: 19px;
    }
}

@media screen and (min-width:1040px) and (max-width:1200px) {
    .blog-card .blog-content p.question {
        font-size: 16px;
    }
}

@media screen and (max-width:1040px) {
    .blog-card {
        width: max-content;
    }
}

@media screen and (max-width:576px) {
    .blog-card .blog-content p.question {
        font-size: 16px;
    }
    .blog-card {
        width:100%;
    }
}